/* normalize css, basic default styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flow-root;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-bs-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted currentColor;
  text-decoration: underline dotted currentColor;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small,
.small {
  font-size: 0.875em;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #0d6efd;
  text-decoration: underline;
}

a:hover {
  color: #0a58ca;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

a>code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(.focus-visible) {
  outline: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

select:disabled {
  opacity: 1;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

/*  === advanced css stuff starts here === */

:root {
  --btn-color-bg: hsl(85deg 100% 50%);

  --btn-h: 85deg;
  --btn-s: 100%;
  --btn-l: 50%;
  --header-bg-hue: 161deg;
  --header-bg-saturation: 73%;
  --header-bg-luminance: 55%;
  --header-bg: hsl(var(--header-bg-hue) var(--header-bg-saturation) var(--header-bg-luminance));
}

.d-custom {
  display: inline;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.d-none {
  display: none;
}

.container {
  width: auto;
  margin: 0 15px;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
}

.mt-1 {
  margin-top: 10px;
}

.button-container {
  height: 200px;
  width: 500px;
  margin: 20px auto;
  border: 1px solid #999;
  align-items: center;
  justify-content: center;
}

.parent {
  display: block;
}

.parent :first-child {
  color: pink;
}

.parent :last-child {
  color: green;
}

.parent button:first-of-type {
  color: blue;
}

.parent span:first-of-type {
  color: orange;
}

.parent span:last-of-type {
  color: purple;
}

.parent button:last-of-type {
  border: 1px solid blue;
}

.parent :only-of-type {
  color: gray;
}

.parent :nth-of-type(2n) {
  text-decoration: underline;
}

.parent :nth-child(5) {
  border: 2px dotted blue;
}

.parent :nth-last-child(2) {
  border: 2px dotted blue;
}

.parent :nth-last-child(3n + 2) {
  background-color: purple;
}

.parent :nth-last-of-type(2) {
  background-color: rgb(128, 0, 0);
}

.parent:empty {
  background: #0d6efd;
  width: 100px;
  height: 100px;
}

a.demoLink {
  color: #f5b225;
  font-size: 2rem;
  border: 2px solid #f5b225;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 50px;
}

a.demoLink:hover {
  background-color: #f5b225;
  color: #fff;
}

a.demoLink:focus {
  background-color: #c8931f;
  color: #fff;
}

a.demoLink:active {
  background-color: #946e1c;
  color: #fff;
  box-shadow: 0 0 15px 0 rgb(122, 122, 122), 0 2px 2px 0 rgb(74, 74, 74);
}

a.demoLink:visited {
  border: none;
  background-color: transparent;
  color: red;
  text-shadow: 1px 1px 5px #000;
}

button.demoLink:disabled {
  color: blue;
}

.target {
  height: 100px;
  width: auto;
  display: inline-flex;
  padding: 10px 20px;
  background-color: #d63384;
  align-items: center;
  justify-content: center;
  position: relative;
}

.target::before,
.target::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
}

.target::before {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0000ff;
  position: absolute;
  z-index: 1;
  top: -25px;
  left: -25px;
  content: "A";
}

.target::after {
  width: 50px;
  height: 50px;

  background-color: #00ff80;
  position: absolute;
  z-index: 1;
  top: -25px;
  right: -25px;
  content: "B";
}

/* toggle switch */

.toggle {
  height: 30px;
  width: 60px;
  border-radius: 30px;
  background-color: #05b35c;
  position: relative;
  box-shadow: 0 0 15px 0 #00000057;
}

.toggle label {
  position: relative;
}

.toggle-switch {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 1;
  left: 2px;
  top: 2px;
  box-shadow: 0 0 15px 0 #00000057;
  transition: left 0.5s ease;
}

label.toggle input {
  display: none;
}

.toggle input:checked+.toggle-switch {
  left: 32px;
  transition: left 0.5s ease;
}

/* positioning   */

.p-initial {
  position: initial;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: sticky;
}

.box {
  width: 100px;
  height: 100px;
  display: inline-flex;
  background: #ffcc00;
}

.overflow-auto {
  overflow: auto;
}

.demo-sticky header {
  position: sticky;
  top: 0;
  background-color: #0d6efd;
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0 0 15px 0 #00000057;
}

.back-to-top {
  right: 0;
  bottom: 0;
  background-color: green;
}

.element-absolute {
  background-color: yellow;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 100px;
  margin-top: 100px;
}

.table th,
table td {
  padding: 50px 10px;
  border: 1px solid grey;
}

.table th {
  position: sticky;
  top: 0;
  background-color: red;
  z-index: 10;
}

.table tr {
  position: sticky;
}

.flex-column {
  flex-direction: column;
}

.sticky-list>div {
  padding: 15px 10px;
  margin: bottom 15px;
  background-color: pink;
}

.card {
  background-color: #ddd;
  color: red;
  flex: 1 1 auto;
  height: 50px;
}

.card-limit-3 {
  gap: 15px;
  flex-wrap: wrap;
}

.card-limit-3 .card {
  flex-basis: 100%;
}

@media screen and (min-width: 700px) {
  .card-limit-3 .card {
    flex-basis: calc(100% / 3 - 45px);
  }
}

.header-navigation {
  background-color: var(--header-bg);
  padding: 0px 10px;
}

.logo {
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo i {
  font-size: 2rem;
  color: yellow;
}

.nav-list {
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li a:hover {
  color: yellow;
}

.nav-container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon {
  display: block;
  padding: 5px;
}

.nav-container nav {
  display: none;
}

@media screen and (min-width: 1000px) {
  .nav-container {
    width: 970px;
    margin: 0 auto;
  }

  .menu-icon {
    display: none;
  }

  .nav-container nav {
    display: block;
  }
}

footer {
  background-color: hsl(var(--header-bg-hue) var(--header-bg-saturation) var(--header-bg-luminance));
  height: 60px;
}

.btn-color {
  background-color: hsl(var(--btn-h) var(--btn-s) var(--btn-l));
  color: white;
  cursor: pointer;
}

.btn-color:hover {
  --btn-l: 45%;
}

.btn-color:focus {
  --btn-l: 35%;
}

.btn-color:active {
  --btn-h: 0;
}

#btn-transforms {
  transition: transform 0.5s ease;
}

#btn-transforms:hover {
  transform: scale(1.5);
}

#btn-transforms:hover i::before {
  transition: transform 1s linear;
  transform: rotate(90deg);
}

#btn-transforms i::before {
  transition: transform 1s linear;
}

#btn-animation {
  animation: pulsate 3s linear infinite;
  border: 1px solid #ddd;
}

@keyframes pulsate {
  from {
    scale: 1;
  }

  25% {
    scale: 2;
  }

  50% {
    border: 5px solid red;
  }

  75% {
    scale: 2;
    border: 5px solid red;
  }

  to {
    scale: 1;
    border: 1px solid #ddd;
  }
}

.grid-1 {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr auto;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 150px auto;
  gap: 30px;
  padding: 30px;
  height: calc(100vh - 148px);
  /* align-items: start;
  justify-items: center; */
}

.card-2 {
  display: block;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.card-2__header {
  padding: 5px 10px;
  border-bottom: 1px solid #000;
  background-color: #f1f1f1;
}

.card-2__content {
  padding: 20px;
  min-height: 100px;
}

.card-2.card-pink {
  border-color: rgb(170, 60, 137);
}

.card-2.card-pink .card-2__header {
  background-color: rgb(170, 60, 137);
  color: #fff;
}

.card-pink {
  grid-row-start: -2;
  grid-column-start: 2;
  grid-row-end: span 4;
  grid-column-end: 4;
}

.wobble {
  animation: wobble 1s ease 1;
}

@keyframes wobble {
  0% {
    translate: 0;
  }

  20% {
    translate: 10px;
  }

  40% {
    translate: -20px;
  }

  60% {
    translate: 10px;
  }

  80% {
    translate: -2px;
  }

  100% {
    translate: 0;
  }
}

/* 
.box:hover {
  animation: wobble 1s ease 1;
} */

.box.box-float:hover {
  animation: float 1s ease 1;
}

.box.box-float {
  animation: float 1s ease 1 reverse;
}

@keyframes float {
  0% {
    translate: 0;
  }

  100% {
    translate: 0 -10px;
    background-color: red;
  }
}

@keyframes float-reverse {
  0% {
    translate: 0 -10px;
  }

  100% {
    translate: 0;
  }
}

.box-animate {}

.float-animation-reverse {
  animation: float-reverse 1s ease 1;
}

.float-animation {
  animation: float 1s ease 1 forwards;
}

.checkbox-animate label {
  color: blue;
}

.checkbox-animate input:checked+label {
  animation: wobble 1s ease 1;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}

.align-items-center {
  align-items: center;
}

@keyframes bounce {
  0% {}

  20% {
    width: 90px;
    height: 110px;
    translate: 0 -50px;
  }

  50% {
    width: 100px;
    height: 100px;
    translate: 0 -100px;
  }

  75% {
    width: 110px;
    height: 90px;
    translate: 0 0px;
  }

  100% {
    width: 100px;
    height: 100px;
    translate: 0 0;
  }
}

.bounce-ball {
  animation: bounce 2s ease infinite;
}